*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  --bg-color: #0d1b2a;
  --primary-color: #e0e1dd;
  --secondary-color: #778da9;
  --btn-bg-color: #1b263b;
  --btn-bg-hv-color: #415a77;
  --btn-text-color: #e0e1dd;
  --line-color: #3e4c59;
  --error-alert-color: #ff6b6b;
  --highlight-color: #f4d35e;
  --border-color: #415a77;
  --grid-line-color: #3e4c59;
  --cell-bg-color: #fff;
  --cell-border-color: #415a77;
  --cell-hidden-bg-color: #020202;
  --cell-hidden-border-color: #3e4c59;
  --cell-ship-bg-color: #005177;
  --cell-ship-border-color: #003b51;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--primary-color);
  gap: 10px;
  padding-top: 10px;
}

button {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: 1px solid var(--border-color);
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--btn-bg-hv-color);
}

.grid {
  border: 1px solid var(--grid-line-color);
}

.active {
  background-color: var(--highlight-color);
}

.error {
  color: var(--error-color);
}

#scoreboard {
  display: flex;
  gap: 15px;
}

#board {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
}

#controls {
  display: flex;
  gap: 15px;
}

#player-board,
#computer-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.cell {
  width: 30px;
  height: 30px;
  background-color: var(--cell-bg-color);
  border: 1px solid var(--cell-border-color);
  text-align: center;
  line-height: 30px;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
}

.boards {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.hidden {
  background-color: var(--cell-hidden-bg-color);
  border: 1px solid var(--cell-hidden-border-color);
  color: var(--cell-hidden-bg-color);
  transition: transform ease 0.2s;
}

.hidden:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inactive {
  cursor: not-allowed;
  pointer-events: none;
}

.player-ship {
  background-color: var(--cell-ship-bg-color);
  border: 1px solid var(--cell-ship-border-color);
}
